{% extends "/html/base.html" %}
{%block subtitle %}: {{page.title}}{% endblock %}
{% block content %}
<div id="custom-page">
    <div id="page-header">
        <h2>{{page.title}}</h2>
    </div>

    {% if page.video-yt-id %}
      <div id="whats-ispooge-live-video-yt" style="">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ page.video-yt-id }}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    {% endif %}

    {% if page.toc %}{{page.toc|safe}}{% endif %}
    {{page.content|safe}}


<script>
  var el = document.getElementById('whats_ispooge_live_video');
  var newEl = document.getElementById('whats-ispooge-live-video-yt');
  
  newEl.parentElement.replaceChild(newEl, el);
</script>

</div>
{% endblock %}
