<h3> Problems with stream?</h3>

<p>Adaptive playback is new... try these options:</p>

<ul>
<li><a href="/live-360p.html">360p</a> - Standard def -- wifi, mobile (default)</li>
<li><a href="/live-720p.html">720p</a> -  High def -- wifi</li>
<li><a href="/live-240p.html">240p</a> -  Low def -- mobile</li>
<li><a href="/live.html">adaptive</a> - Chooses a good one (experimental)</li>
</ul>


<p>We also syndicate to:</p>

<ul>
<li><a href="https://twitch.tv/iSpoogeDaily">Twitch</a></li>
<li>or <a href="https://www.youtube.com/channel/UCUMn9G0yzhQWXiRTOmPLXOg">YouTube Live</a></li>
<li>sometimes <a href="https://www.facebook.com/ispooge/">Facebook Live</a></li>
<li>rarely <a href="https://pscp.tv/iSpoogeDaily">Periscope</a></li>
</ul>
