<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ispoogedaily">
<meta name="twitter:creator" content="@harlanji">

<meta property="og:url" content="{{site-url}}{{uri}}">
<meta property="og:title" content="{{post.title}}">
<meta property="og:description" content="VIDEO - {{post.title}}.">

{% if post.video-thumbnail-url %}
<meta property="og:image" content="{{site-url}}{{post.video-thumbnail-url}}">
{% endif %}

{% if post.video-url %}
{% include "/html/partials/video-head-videojs.html" %}
{% endif %}