{:site-title           "iSpooge"
 :site-subtitle        "iSpooge Daily... do you?"
 :author               "Harlan Iverson"
 :description          "Source of spooge from little DataCenters... and mo'"
 :site-url             "https://ispooge.com/"
 :source-code-url      "https://github.com/harlanji/tinydatacenter"
 :sidebar-pages-title  "Pages"
 :sidebar-links-title  "Links"
 :sidebar-links        [{:title "Live" :uri "/live.html"}
                        {:title "Author Website" :uri "https://harlanji.com"}
                        {:title "Tiny DataCenter" :uri "https://tinydatacenter.com"}]
 :post-root            "posts"
 :page-root            "pages"
 :post-root-uri        ""
 :page-root-uri        ""
 :tag-root-uri         "tag"
 :author-root-uri      "about"
 :blog-prefix          ""
 :rss-name             "feed.xml"
 :rss-filters          ["video" "playlist" "playlist-Random"]
 :recent-posts         8
 :post-date-format     "yyyy-MM-dd"
 :archive-group-format "yyyy MMMM"
 :sass-src             []
 :sass-path            "sass"
 :compass-path         "compass"
 :theme                "ispooge"
 :resources            ["img" "assets"]
 :keep-files           [".git"]
 :disqus?              false
 :disqus-shortname     ""
 :ignored-files        [#"\.#.*" #".*\.swp$"]
 :posts-per-page       8
 :blocks-per-preview   2
 :previews?            false
 :clean-urls?          false
 :hide-future-posts?   false
 :klipse               {}
 :debug?               true}
